#configuration

#log level conf
LOGLEVEL = DEBUG
#LOGLEVEL = INFO

#running envirment conf
#DBCONF
dbusr = kt4
dbpwd = kt4
dbhost = 10.7.5.196
dbport = 1521
dbsid = ngtstdb196

#NETTYPE = KtPs
NetCode = kt4
dbusr = kt4
dbpwd = kt4
dbhost = 10.7.5.196
dbport = 1521
dbsid = ngtstdb196
#socket server conf
server = 172.30.196.132
sockPort = 12306

#NETTYPE = HttpShort
NetCode = Centrex
Ip = 10.4.72.66
Port = 14387
GLOBAL.USER = BJCentrex
GLOBAL.PASSWD = Wert,123
GLOBAL.RTSNAME = CTXAS01
GLOBAL.URL = /imsservice/services/CentrexService
RSP_SUCCESS = <m:ResultCode>0</m:ResultCode>

#NETTYPE = HttpShort
NetCode = Pcc
Ip = 10.7.5.164
Port = 8010
GLOBAL.USER = bjydboss
GLOBAL.PASSWD = lem600@HW
GLOBAL.RTSNAME = CTXAS01
GLOBAL.URL = /imsservice/services/CentrexService
RSP_SUCCESS =

#NETTYPE = HttpShort
NetCode = AGCF
Ip = 10.4.174.73
Port = 8080
GLOBAL.USER = BJIMSBSS
GLOBAL.PASSWD = 19A19F3F67AD404C14DE1344F32AFD9F
GLOBAL.URL = /spg
RSP_SUCCESS = <m:ResultCode>0</m:ResultCode>

#end
